html {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}

input {
  font-family: "Lexend", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.field {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  aspect-ratio: 2000 / 1297;

  background: rgb(235, 248, 255);
  background: radial-gradient(
    circle,
    rgba(235, 248, 255, 1) 34%,
    rgba(240, 255, 254, 1) 77%
  );
}

.field::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 1;
  background-image: url("./assets/pitch11.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  box-shadow: 0 16px 80px -30px #052f49;
}

#drawCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background: #001320;
  background-image: url("./assets/arena.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  box-sizing: border-box;
  padding: 2rem 4rem;

  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";

    background: rgb(0, 20, 52);
    background: linear-gradient(
      354deg,
      rgba(0, 20, 52, 0.5494791666666667) 0%,
      rgba(59, 77, 0, 0.1377144607843137) 33%,
      rgba(4, 22, 37, 0.9388349089635855) 100%
    );
  }
}

.format-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  flex: 0.2;
  cursor: pointer;
  font-weight: 800;
  font-size: 2.5rem;
  padding: 1rem 1rem;
  transition: all 100ms ease-in-out;
  position: relative;
  overflow: hidden;
  min-width: 200px;

  &:hover {
    opacity: 0.8;
  }
}

.five {
  background: #ffff00;

  &:hover {
    background: black;
    color: #ffff00;
  }
}

.seven {
  background: #10cef9;

  &:hover {
    background: black;
    color: #74aed5;
  }
}

.eleven {
  background: #a6ff00;

  &:hover {
    background: black;
    color: #c3ff00;
  }
}

.menu {
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 999000;
  transform: translateX(-50%);
}

.menu-button {
  border: none;
  width: 100%;
  height: 100%;
}

.menu-button-checked {
  background: #a7ffa0;

  img {
    transform: scale(1.4);
  }
}

.menu-button-inactive {
  cursor: pointer;

  img {
    transition: transform 150ms ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.4);
    }
  }
}

.initial-screen-scheme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: #001320;
  padding: 2rem 2rem 4rem 2rem;
  color: white;
  box-sizing: border-box;
}
.initial-screen-scheme-container.left-side {
  padding-right: 15vw;
}
.initial-screen-scheme-container.right-side {
  padding-left: 15vw;
}

.choose-format-button {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
  border: none;
  padding: 1rem 0;
  width: 100vw;
  max-width: 640px;
  font-size: 2rem;
  cursor: pointer;
  color: black;

  &:hover {
    background: #a7ffa0;
  }
}

.choose-format-button + .choose-format-button {
  margin-top: 4px;
}

.side-choose-title {
  font-weight: 200;
  font-size: 3rem;
  margin-top: 0;
  padding-top: 0;

  b {
    font-weight: 800;
    text-transform: uppercase;
  }
}

.gaffer-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
  pointer-events: none;
  z-index: 6;

  h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 100;
    opacity: 0.2;
  }
}

.formation-question {
  margin: 0;
  font-size: 3rem;
  color: #ffffff;
  z-index: 6;

  b {
    font-size: 5rem;
  }
}

.formation-select-group {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  z-index: 6;
}
.formation-select-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  width: 100%;
  z-index: 6;
}
.scheme-choose-form {
  display: flex;
  flex-direction: column;
}
.left-scheme-choose {
  align-items: flex-start;
}
.right-scheme-choose {
  align-items: flex-end;
}

.mechanics-notification {
  opacity: 0.6;
  max-width: 480px;
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.pencil-cursor {
  cursor: pointer;
}

.erase-cursor {
  cursor: grabbing;
}

.screen-lock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(12px);
  color: #ffff00;
  font-size: 2rem;
  font-weight: 100;

  background: rgb(3, 13, 0);
  background: linear-gradient(
    142deg,
    rgba(3, 13, 0, 1) 0%,
    rgba(4, 34, 0, 1) 37%,
    rgba(36, 27, 0, 1) 65%,
    rgba(78, 0, 0, 1) 100%
  );

  h2 {
    margin: 0 0 1rem 0;
    text-align: center;
    padding: 0 2rem;
    font-weight: 100;
    font-size: 2rem;
  }

  span {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

.lock-screen-icon-size {
  width: 170px;
  object-fit: contain;
}

.transform-90-deg {
  transform: rotate(90deg);
}

.space-around {
  margin: 2rem;
}

.warning {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  background: black;
  color: #ff9d00;
  font-weight: 300;
}
