html {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.field {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  width: 80vw;
  aspect-ratio: 3 / 2;
}

.field::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 1;
  background-image: url("./pitch.svg");
  background-position: center;
  background-size: contain;
  pointer-events: none;
}

#drawCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #001320;
  color: white;
}

.format-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex: 0.333333;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 800;
  font-size: 4rem;
}

.five {
  background: #31003d;
  color: white;
}

.seven {
  background: #74aed5;
}

.eleven {
  background: #c3ff00;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: black;
    color: #c3ff00;
  }
}
